 <header class="container">
    <div class="row">
      <h1 class="col-sm-8">Quora Clone</h1>
      <nav class="col-sm-4">
     		<a href="/logout" method="post" action="/logout" >Log Out</a>
        <a href="#">Profile</a>
      </nav>
    </div>
  </header>
