<section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h1>Quora Clone</h1>
        <h3>You question answered!</h3>
      </div>
    </div>
  </section>

<section class="container">
	<div class="col-sm-3"></div>
	<div id="signup" class="col-sm-3">
	<h4>Sign up for an account!</h4>
		<form method=post action=/signup>
			<input type=text placeholder="User Name" name="new_user[user_name]"><br><br>
		  <input type=text placeholder="Email" name="new_user[email]"><br><br>
		  <input type=password placeholder="Password" name="new_user[password]"><br><br>
		  <input type=submit value="Sign up">
		</form>
	<p class="indication">
		<% if @flash_msg %>
		<% if @flash_msg.count == 1 %>
		<%= @flash_msg[0] %>
		<% elsif @flash_msg.count == 2 %>
		<%= @flash_msg[0] %>
		<%= @flash_msg[1] %>
		<% end %><% end %></br>
	</p>
	</div>



	<div id="login" class="col-sm-3">
		<h4>Login</h4>
		<form method=post action=/login>
			<input type=text placeholder="Email" name="user[email]"><br><br>
			<input type=password placeholder="Password" name="user[password]"><br><br>
			<input type=submit value="Login">
		</form>
		<p class="indication">
		<% if @msg %>
		<%= @msg %>
		<% end %></br>
		<p>
	</div>
	<div class="col-sm-3"></div>
</section>



<!-- <form action="/question/question_id" method="post"> -->
<!-- <input type="hidden" name"_method value="delete">-->
<!-- <input type="submit" value="Delete"> -->

<!-- <form action="/question/question_id" method="post"> -->
<!-- <input typr="hidden" name="_method" method="put"> -->
<!-- <input type="text" name="question[:description] -->