<h1> Hello, This is the Profile Page </h1><br>

<form method=get action=/homepage>
   <input type=submit value="Back">
</form><br>
<form method=get action=/logout>
  <input type=submit value="Logout">
</form>
